<nav class="navbar navbar-custom">
    <div class="container-fluid">
        <div class="navbar-header">
            <span id="backButton" ui-sref='home' href='#'>
		    <i class="fa fa-arrow-right" aria-hidden="true"></i>
		    </span>
            <img src="content/images/logoperdeachabranca.png" id="navImage" ui-sref='home' href='#'>
        </div>
    </div>
</nav>
<div  class="menuList">
    <span ui-sref='home' href='#'>
		    <i class="fa fa-home" aria-hidden="true"></i> Home
    </span>
</div>
<div  class="menuList">
    <span ui-sref='itemRegister' href='#'>
		    <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Cadastrar Item
    </span>
</div>
<div  class="menuList">
    <span ui-sref='itemSearch' href='#'>
		    <i class="fa fa-search" aria-hidden="true"></i> Pesquisa Avançada
    </span>
</div>
<div  class="menuList">
    <span ui-sref='userLogin' href='#'>
		    <i class="fa fa-sign-out" aria-hidden="true"></i> Sair
    </span>
</div>