<div class="login">
    <div class="loginDiv">

    	<img src="content/images/logoperdeacha.png" id="loginImage">

        <div class="form-group">
            <input type="text" class="form-control myInput" placeholder="Email" id="input_email" ng-model="email" />
        </div>
        <div class="form-group">
            <input type="password" class="form-control myInput" placeholder="Senha" id="input_password" ng-model="password" />
        </div>
        <input class="btn btn-success center-block" type="button" ng-click="login()" value="Login" />
    </div>
</div>
