<nav class="navbar navbar-custom">
    <div class="container-fluid">
        <div class="navbar-header">
            <span id="menuButton" ui-sref='userLogin' href='#'>
		    <i class="fa fa-arrow-left" aria-hidden="true"></i>
		    </span>
            <img src="content/images/logoperdeachabranca.png" id="navImage">
        </div>
    </div>
</nav>
	<h2>Cadastro de Usuário</h2>

	<div class="form-group myInput">
	    <label>Nome:</label>
	    <input type="text" class="form-control" id="input_name" ng-model="name" />
	</div>
	<div class="form-group myInput">
	    <label>Email:</label>
	    <input type="text" class="form-control" id="input_email" ng-model="email" />
	</div>
	<div class="form-group myInput">
	    <label>Senha:</label>
	    <input type="password" class="form-control" id="input_password" ng-model="password" />
	</div>
	<div class="form-group myInput">
	    <label>Estado:</label>
	    <input type="text" class="form-control" id="input_state" ng-model="state" />
	</div>
	<div class="form-group myInput">
	    <label>Cidade:</label>
	    <input type="text" class="form-control" id="input_city" ng-model="city" />
	</div>
	<input class="btn btn-success center-block" type="button" ng-click="save()" value="Enviar" />
	</div>

