
body {
	height: 100%;
}


#loginImage {
	max-width: 80%;
	margin-left: 10%;
	margin-bottom: 5%;
}

#navImage {
	max-width: 40%;
	margin-left: 23%;
	margin-bottom: 2%;
}

#menuButton {
	color: white;
	font-size: 4.5em;
	margin-left: 2%;
}

#backButton {
 color: white;
  font-size: 4.5em;
  margin-left: 2%;
  float: right; 
}

#searchContainer {
	display: block;
	margin-top: 5%;
}

#searchContainer input {
	float: left;
	margin-left: 7%;
  min-height: 2em;
  margin-top: 0%;
}

#searchContainer span {
	font-size: 3.5em;
	color: #FF6000;
	margin-left: 2%;
	margin-top: 60%;
}

#registerLink {
  margin-top: 5%;
  margin-right: 10%;
  float: right;
  color: #FF6000;
  font-size: 3.5em;
  font-weight: bold;
}


.login {
	background-color: #003B99;
	height: 100%;
	min-height: 100%;
	width: 100%;
	min-width: 100%;
	margin-bottom: -9999px;
	padding-bottom: 9999px;
	position: absolute;
	padding-top: 50%;
}

.loginDiv {
	vertical-align: middle;
}

.myInput {
	width: 80%;
	margin: auto;
  margin-top: 5%;
  font-size: 2.5em;
}

.myInput input {
  font-size: 0.9em;
  height: 3em;
}

.myInput textarea {
  font-size: 0.9em;
  height: 5em;
}

.bigInput {
  font-size: 3.6em;
  min-height: 2em;
}

.publicity {
	margin-top: 10%;
	margin-left: 10%;
	background-color: gray;
	outline: black;
	border: 1px solid black;
	width: 80%;
	height: 100%;
	padding-top: 20%;
}

.imageSpace {
  margin-top: 10%;
  margin-left: 10%;
  background-color: gray;
  outline: black;
  border: 1px solid black;
  width: 80%;
  height: 200%;
  padding-top: 20%;
  margin-bottom: 10%;
}

.details {
  padding-left: 10%;
  color: #FF6000;
  font-size: 2.2em;
  font-weight: bold;
  display: block;
  border-bottom: 1px solid gray;
  padding-bottom: 3%;
  padding-top: 1%;
}


.detailsTitle {
  color: #FF6000;
  margin-left: 10%;
  font-size: 5em;
  font-weight: bold;
}

.menuList {
  margin-left: 10%;
  margin-top: 10%;
  margin-bottom: 10%;
  font-size: 4.2em;
  color: #FF6000;
}

.menuList i {
  font-size: 2.3em;
  margin-right: 5%;
}

.labelMenu {
  text-align: center;
  font-size: 2.5em;
  margin-top: 10%;
}


.result{
  background-color: #f2f2f2;
  margin-top: 1%;
}

.result label {
  text-align: left;
  font-size: 3em;
  display: block;
  margin-left: 60%;
}

.buttonImage {
  border: #f2f2f2 1px solid;
  border-radius: 5px;
}

.imagemDiv {
  margin-left: 10%;
  margin-top: 5%;
  color: #FF6000;
  font-weight: bold;
  font-size: 2em;
  border: #f2f2f2 1px solid;
}

.circleContainer {
  max-width: 20%;
  max-height: 20%;
  margin-left: 40%;
  margin-top: 20%;
}

.circle {
margin-left: auto;
margin-right: auto;
border-radius: 50%;
width: 100%;
position: relative;
background-color: #FF6000;
}

.circle-solid{
background-color: whitesmoke;
}

.circle:before {
content: "";
display: block;
padding-top: 100%;
}

.circle-inner {
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
text-align: center;
}

.score-text {
margin: auto;
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
height: 1em;
line-height: 1em;
font-size: 7em;
color: white;
}

input[type='button'] {
 	margin-top: 5%;
 	width: 80%;
	min-height: 10%;
	font-size: 4.5em;
 }


label {
	color: #FF6000;
}

h2 {
 color: #FF6000;
 text-align: center;
 font-size: 4em; 
 margin-top: 10%;
 font-weight: bold;
}


/*NavBar */
.navbar-custom {
  background-color: #ff6000;
  border-color: #de5400;
}
.navbar-custom .navbar-brand {
  color: #ffffff;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #e6e6e6;
  background-color: transparent;
}
.navbar-custom .navbar-text {
  color: #ffffff;
}
.navbar-custom .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #c0c0c0;
  background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #c0c0c0;
  background-color: #de5400;
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-custom .navbar-toggle {
  border-color: #dddddd;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #cccccc;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #db5300;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #c0c0c0;
  border-bottom-color: #c0c0c0;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  background-color: #de5400;
  color: #c0c0c0;
}
.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
  border-top-color: #c0c0c0;
  border-bottom-color: #c0c0c0;
}
.navbar-custom .navbar-nav > .dropdown > a .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
@media (max-width: 767) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #c0c0c0;
    background-color: transparent;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #c0c0c0;
    background-color: #de5400;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-custom .navbar-link {
  color: #ffffff;
}
.navbar-custom .navbar-link:hover {
  color: #c0c0c0;
}