
<nav class="navbar navbar-custom">
    <div class="container-fluid">
        <div class="navbar-header">
            <span id="menuButton" ui-sref='menu' href='#'>
            <i class="fa fa-bars" aria-hidden="true"></i>
            </span>
            <img src="content/images/logoperdeachabranca.png" id="navImage" ui-sref='home' href='#'>
        </div>
    </div>
</nav>

<div>


<div class="form-group detailsTitle">
    <span>{{item.Title}}</span>
</div>

<div class="imageSpace">
	
</div>
<div class="form-group details">
    <span>{{item.Description}}</span>
</div>
<div class="form-group details">
    <span>Bairro: {{item.Neighborhood}}</span>
</div>
<div class="form-group details">
    <span>Data: {{item.Date}}</span>
</div>
<div class="form-group details">
    <span>Recompensa R$: {{item.Reward}}</span>
</div>
	
</div>